
body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

*, ::after, ::before {
    box-sizing: border-box;
}

img{
    display: block;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
    margin: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul, 
ol, 
a {
    list-style-type: none;
    text-decoration: none;
}

.svg{
    fill: #f4f4fd;
}

.head{
    padding: 24px 0px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav{
    display: flex;
    align-items: center;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

menu{
    color: #404bbf; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-studio-after{
    color: #404bbf;
}

.navigation-after::after{
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.contacts{
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.headinfo{
    display: flex;
    justify-content: space-between;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.sec .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.foot .container{
    display: flex;
    align-items: baseline;
}

.footer-content{
    margin-right: 120px;
}

.foot .social-networks{
    gap: 16px;
}

.svg{
    fill: #f4f4fd;
}

.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px; 
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.container .a-list:hover,
.container .a-list:focus{
    background-color: #31d0aa;
}

.networks-p{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.something{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;
}

.maintittle{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin-bottom: 48px;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.menu{
    display: flex;
    gap: 40px 
}

.studio{
    color: #2e2f42;
}

.description{
    display: flex; 
    gap: 24px;
}

.lidescription{
    width: calc((100% - 72px) / 4);
}

.navigation{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.navigation:hover,
.navigation:focus{
    color: #404bbf;
}

address{
    font-style: normal;
}
.adress{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.adress:hover,
.adress:focus{
    color: #404bbf;
}

 /* Стиль для заголовку */
.sec {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
    background-color: #2e2f42;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1440px;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 188px;
    padding-bottom: 188px;
}

  /* Стиль для кнопки */
.button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block; 
    min-width: 169px;
    height: 56px;
    border: none;
    background-color:#4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

   /* Стиль для кнопки при наведенні */
.button:hover,
.button:focus {
     background-color: #404BBF;
}

.second{
    color: #2e2f42;
    padding: 120px 0;

}

.tittle{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px
}

.portfolio h2{
    margin-bottom: 72px;
}

.paragraph{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team{
    background-color: #F4F4FD;
    padding: 120px 0;
}

.apps{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.liapps{
    width: calc((100% - 48px) / 3); 
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.divapps{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.divapps:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.apps-p{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    color: #f4f4fd; 
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%); 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.apps-img{
    position: relative;
    overflow: hidden;
}

.liapps:hover .apps-p,
.liapps:focus .apps-p{
    transform: translateY(0%);
}

.team h2{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.list{
    background-color: #FFFFFF;
    width: ((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.a-list{
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team .a-list:hover,
.team .a-list:focus
{
    background-color: #404bbf;
}

.social-networks{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.foot .social-networks-list{
    display: flex;
    gap: 16px;
}

.social-networks-list{
    width: 40px;
    height: 40px; 
}


footer .studio{
    color: #F4F4FD;
}

.foot{
    background-color: #2e2f42;
    padding: 100px 0;
}

.foot .logo{
    display: inline-block;
    margin-bottom: 16px;
}

.p_footer{
    max-width: 264px;
}

.foot-networks-list{
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer p{
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.namediv{
    padding: 32px 0;
}

.namediv .something,
.namediv .paragraph
{
    text-align: center;
}

.portfolio{
    padding-top: 120px; padding-bottom: 120px; 
}

.contacts{
    color: #434455;
}

.contacts:hover{
    color: #404bbf;
}

.contacts:focus{
    color: #404bbf;
}